{% extends 'base.html.twig' %}

{% block body %}







  <div class="container ">
            <h1 class="actu-title">{{ annonce.title }}</h1>
                    <div class="ov-wrap">
                        <div class="d-flex  justify-content-center align-items-center box-70 ov-phone">
                            <div class="actu-img"><img src="{{asset('build/images/olivier.png')}}" class="actu-img" alt=""></div>
                            <p class="center ov-text">{{ annonce.description }}</p>
                        </div>
                    </div>
                    <a href="/" class="btn-actu">retour</a>
                    {% if app.user %}
                        {% if annonce.user.id == app.user.id %}
                            <a href="{{ path('edit_annonce', { id: annonce.id }) }}" class="btn btn-success">Modifier</a>
                            <a href="{{ path('delete_annonce', { id: annonce.id }) }}"  class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    {% endif %}  
                </div>
            </div>
        </div>

{% endblock %}