{% extends 'base.html.twig' %}


{% block body %}

<div class='d-flex justify-content-center row-cols-md-1 g-4'>
  <div class="container">
    <div class="card-columns">
     {% for annonce in tableau %}
    
      <div class="card">
        <img src="https://www.lesrhabilleurs.com/wp-content/uploads/2021/10/hermes-h08-15-1920x980.jpg" class="card-img-top" alt="Hollywood Sign on The Hill">
        <div class="card-body">
            <h5 class="card-title">{{annonce.title}}</h5>
            <p class="card-text">
              {{ annonce.description }}
            </p>
            <p>
              {{ annonce.price }}
            </p>
            <a href="{{path ('app_annonce', {id : annonce.id}) }}" class="btn btn-primary">Lire</a>
        </div>
          <div class="card-footer">
            <small class="text-muted">{{ annonce.categorie.title }}</small>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% endblock %}

