{% extends 'base.html.twig' %}


{% block body %}

{# ---------------------ACTIVITE-----------------------------#}

<div id="carouselExample" class="carousel slide margin-main">
  <div class="carousel-inner">
    <div class="carousel-item active main-carroussel d-flex align-content-center">
      <h1 class="main-title">OLIVIER VARENNE</h1>
      <h3 class="main-subtitle">MARQUETERIE</h3>
    </div>
    <div class="carousel-item main-carroussel" >
      <img src="{{asset ('build/images/montre-main.png')}}" class="img-main" alt="montre">
    </div>
    <div class="carousel-item main-carroussel">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{# -------------------------OV--------------------------------- #}
<h3 class="center part-title">Olivier Varenne</h3>
<div class="part-wrap">
<div class="d-flex flex-row justify-content-center align-item-center box-70">
<p class="center part-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<div class="part-img"><img src="{{asset('build/images/olivier.png')}}" class="part-img" alt=""></div>
</div>
</div>
{# ------------------------ACTU----------------------------- #}

<h3 class="center part-title">Actualité</h3>




<div class='wrapper'>
     {% for annonce in tableau %}
     {% if loopCount < 4%}
      <div class="image-container">
        <img src="{{asset('build/images/olivier.png')}}" alt="Votre image">
        <div class="overlay">
          <h5 class="card-title">{{annonce.title}}</h5>
          <p class="card-text">
            {{ annonce.description }}
          </p>
          <a href="{{path ('app_annonce', {id : annonce.id}) }}" class="btn btn-primary">Lire</a>
        </div>
      </div>
      {% set loopCount = loopCount+1 %}
      {% endif %}
    {% endfor %}
</div>




{% endblock %}

